@model PrepareData.Web.Models.Layout.UserMenuOrLoginLinkViewModel
@if (Model.LoginInformations != null)
{
    <li>
        <a class="dropdown-button" href="#!" data-activates="dropdownTopMenuUser">
            <i class="fa fa-user"></i> <span>@Html.Raw(Model.GetShownLoginName())</span> <b class="caret"></b>
        </a>
        <ul id="dropdownTopMenuUser" class="dropdown-content">
            <li><a href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out"></i> @L("Logout")</a></li>
        </ul>
    </li>
}
else
{
    <li><a href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in"></i> @L("LogIn")</a></li>
}
